<div class="row">
    <div class="col-md-6">
        <h4>User Detail</h4>
        <hr>
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="user.userName" />
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" />
        <label>Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" />
        <label>Birthday</label>
        <input type="date" class="form-control" [(ngModel)]="user.birthday" />
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" />
        <label>Join Date</label>
        <input type="date" class="form-control" [(ngModel)]="user.joinDate" />
        <button type="button" class="btn btn-default" (click)="submit()">Submit</button>
    </div>
</div>