<h2>Login</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Enter email" [(ngModel)]="email"/>
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="password"/>
        </div>
    <div class="col-md-6">

    </div>       
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="login()">Login</button>